#main{
    display: flex;
   margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 40px;

}
#divisionone{
    width: 50%;
    background-color: #2575fc;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
#divisiontwo{
    width: 50%;
   background-color: #ffffff;
    padding: 30px;

}
legend{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
input[type=text],input[type=email],input[type=tel],textarea{
    width: 100%;

}
button{
    background-color: #2575fc;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    display: block;
    margin: auto;
}
body{
    background-color: #6a11cb;
}